body {
    font-family: sans-serif;
    background: #BDDDEA;
    font-size: 80%;
}

header {
    height: 70px;
}

#banner {
    float: left;
    font-size: 36pt;
    color: #e99000;
}

#userbar {
    float: right;
}

#wrapper {
    clear: both;
    margin: 1em auto;
    max-width: 960px;
}
